
	<div class="ui item right">
		<p id="footer">by dtonal</p>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" crossorigin="anonymous"></script>
</body>
</html>